/*Hoja de estilos CSS. Autor: Adrián Araujo Gregorio. Fecha 06/10/2017.*/
@charset "utf-8";
html,body{ 
	height: 100%
}
body {
	font: Verdana, Geneva, sans-serif;
	background-color: #FDEDEC;
	margin: 0;
	padding: 0;
}
header {
	top: 0px;
	margin: 0;
	min-width: 1300px;
	width: 100%;
	height: 20%;
	background-color: #CEC4C3;
}
h3, h4 { /*Esto hay que revisarlo*/
	padding: 1%;
	margin-bottom: 0;
	padding-bottom: 0;
}
header button {
	margin: 1%;
}
header label {
	margin: 1%;
}
#logoff {
	width: 25px;
	height: 25px;
	display: inline;
	background: url(../Images/logout.png);
}
#language {
	width: 25px;
	height: 25px;
	display: inline;
	float: right;
}
#cabecera {
	width: 25px;
	height: 25px;
	display: inline;
	float: left;
}
.spanish {
	background: url(../Images/spanish.png);
}
.english {
	background: url(../Images/english.png)
}
.galician {
	background: url(../Images/Galician.png)
}
.signup {
	
}
#contenido {
	top: 150px;
	height:100%;
}
#menu {
	min-width: 200px;
	width: 15%;
	height: 100%;
	float: left;
	background-color: #FDF1EC;
	display: inline-block;
}
#menu ul {
	margin: 0;
	position: relative;
	padding-left: 0;
}
#menu li {
	background-color: #CEC4C3;
	color: black;
	display: block;
	text-decoration: none;
}
#menu a {
	background-color: #CEC4C3;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}
#menu a:hover {
	background-color: #8F8D8D;
}
#menu li ul {
	display: none;
	position: relative;
	padding-left: 10%;
}
#menu li:hover > ul {
	display: block;
}
#menu ul ul {
	position: relative;
}
.workspace {
	margin-left: 250px;
	padding: 20px;
	width: 75%;
}
label {
	margin: 1%;
}
img {
	max-width: 100%;
	height: auto;
	width: auto/9; /* Bug de ie8 */
}
form {
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 20px;
}
#oculto {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
input, select {
	width : 150px;
	margin: 1%;
	margin-top: 0;
	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
	-moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
	box-sizing: border-box;
}
table {
	border: 1px solid;
	margin-top: 25px;
	margin-bottom: 25px;
}
tr, td, th {
	border: 1px solid;
}
#edit {
	width: 25px;
	height: 25px;
	display: inline;
	background: url(../Images/edit.png) center no-repeat;
}
#delete {
	width: 25px;
	height: 25px;
	display: inline;
	background: url(../Images/delete.png) center no-repeat;
}
#view {
	width: 25px;
	height: 25px;
	display: inline;
	background: url(../Images/show.gif) center no-repeat;
}
#add {
	width: 70px;
	height: 70px;
	background: url(../Images/add.png) center no-repeat;
	margin-left: 350px;
}
#find {
	width: 70px;
	height: 70px;
	background: url(../Images/search.png) center no-repeat;
	margin-left: 100px;
}
footer {
	background-color: #CEC4C3;
	clear: left;
	bottom: 100%;
	margin: 0;
	min-width: 1300px;
	width: 100%;
	text-align: center;
	z-index: 1;
}
#login, #nombre {
	width : 250px;
}
#Password {
	width: 200px;
}
#email, #apellidos, #titulacion {
	width: 400px;
}
#curso {
	width: 40px;
}
#borrar {
	width: 50px;
	height: 50px;
	display: inline;
	background: url(../Images/remove.png) center no-repeat;
}
.login {
	background:url(../Images/login_p.png);
}
.signup {
	background:url(../Images/signup_p.png)
}
#logear {
	width: 50px;
	height: 50px;
	display: inline;
	background:url(../Images/login.png) center no-repeat;
}
#signup {
	width: 50px;
	height: 50px;
	display: inline;
	background:url(../Images/signup.png) center no-repeat;
}
#limpiar {
	width: 50px;
	height: 50px;
	display: inline;
	background: url(../Images/clean.png) center no-repeat;
}
#editarb {
	width: 50px;
	height: 50px;
	display: inline;
	background: url(../Images/edit_big.png) center no-repeat;
}
#insertar {
	width: 50px;
	height: 50px;
	display: inline;
	background: url(../Images/insert.png) center no-repeat;
}
#buscar {
	width: 50px;
	height: 50px;
	display: inline;
	background: url(../Images/search.png) center no-repeat;
}
